<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceCraft</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <img class="logo"  src="../static/logo.png">
    <h1>Space Rocket Launch</h1>
    
            <form  class="button_form col-lg-4 col-sm-6"  method="POST" action="/1" target="_blank">
                    <button  class="btn btn-info" >someone in the room</button><br><br>
            </form>
            

            <form class="button_form col col-lg-4 col-sm-6"  method="POST" action="/2" target="_blank">
                    <input type="image" src="../static/b2.gif" ><br><br>
                    <button class="btn btn-info" >No one in the room</button><br><br>
            </form>
     


            
</body>
</html>
#https://wokwi.com/projects/367695785453535233